<html>
    <head>
        <title>Confirm booking</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../../static/css/blog.css">
    </head>
    <body>
        <div class="page-header">
            <center><h1><a href="/">Confirm Booking</a></h1></center>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                  <form class="" action="{%url 'booking_confirmed' %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="search_term" value="">
                      <span class="input-group-btn">
                        <button href="{%url 'home_search' %}" type="submit" class="btn btn-primary btn-form display-4">Find!</button>
                      </span>
                    </center>
                  </form>
                </div>
            </div>
            <!-- <div >
              <div class="">
                OR
              </div>
              <span class="input-group-btn">
                <button href="{% url 'list_all' %}" type="submit" class="btn btn-primary btn-form display-4">List all!</button>
              </span>
            </div> -->
        </div>
    </body>
</html>
