<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../../static/css/blog.css">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Django Girls Blog</a></h1>
            <a href="{% url 'home_search' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>

        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                  <form class="" action="{%url 'home_search' %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="search_term" value="">
                      <span class="input-group-btn">
                        <button href="{%url 'home_search' %}" type="submit" class="btn btn-primary btn-form display-4"> search for da jam </button>
                      </span>
                  </form>

                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
