<!DOCTYPE html>
<html>

<head>
    <title>All Jamrooms</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../../static/css/blog.css">
    <link rel="stylesheet" href="../../static/css/mobrisestuff.css">
</head>

<body>
  <div class="page-header">
      <center><h1><a href="/">All Jamrooms</a></h1></center>
  </div>
  <div class="container">

<table class="table isSearch" cellspacing="0">
  <thead>
    <tr class="table-heads ">
      <th class="head-item mbr-fonts-style display-7">Jamroom Name</th>
      <th class="head-item mbr-fonts-style display-7">location</th>
      <th class="head-item mbr-fonts-style display-7">Price per hour</th>
      <th class="head-item mbr-fonts-style display-7">Owner name</th>
      <th class="head-item mbr-fonts-style display-7">Owner Phone Number</th>
    </tr>
  </thead>

  <tbody>
    {% for jamroom in jamrooms %}
    <tr>
      <td class="body-item mbr-fonts-style display-7">{{jamroom.name}}</td>
      <td class="body-item mbr-fonts-style display-7">{{jamroom.location}}</td>
      <td class="body-item mbr-fonts-style display-7">{{jamroom.price_per_hour}}</td>
      {% for owner in owners %}
        <td class="body-item mbr-fonts-style display-7">{{owner.owner_name}}</td>
        <td class="body-item mbr-fonts-style display-7">{{owner.owner_ph_no}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
 </table>
</div>

</body>

 </html>
